<header>
    <h1>
        Musicando - Toda la info que necesites sobre musica
    </h1>
    <%# include('./login') #%>
        <%# <a href="regUser">Registrarse</a> #%>

            <!-- <div>
        <a href="../artistas">Ver Artistas</a>
    </div> -->
            <div>
                <a href="/">Pagina Principal</a>
            </div>
            <div>
                <a href="/canciones/APIcanciones">Ver API de Canciones</a>
            </div>
            <div>
                <a href="/canciones/APIgeneros">Ver API de Generos</a>
            </div>
            <div>
                <a href="/canciones">Ver Listado de Canciones</a>
            </div>
            <div>
                <a href="/canciones/regCancion">Registrar Cancion</a>
            </div>
            <!-- <div>
        <a href="../albumes">Ver Albumes</a>
    </div> -->
            <!-- <div>
        <a href="/generos">Ver Generos</a>
    </div> -->
</header>